<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>History page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container">

    <div class="row">
        <div class="col-10">
            <h2>History</h2>
            <div class="panel panel-default">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Config name</td>
                        <td><a th:href="@{'/motherboard-config/' + ${history.configId}}" th:text="${history.configName}" /></td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td th:text="${history.time}"></td>
                    </tr>
                    <tr>
                        <td>Components</td>
                        <td th:text="${history.components}"></td>
                    </tr>
                    <tr>
                        <td>Free Ports</td>
                        <td th:text="${history.freePorts}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-2 margin-view">
            <form method="GET" action="/motherboard-histories" class="form-signin">
                <button class="btn btn btn-info btn-block" type="submit">View all histories</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>